{% extends 'base.html' %}

{% block style %}
        .container {
            margin-left: 550px;
            margin-top: 150px;
            width: 300px;
            height: 100px;
            padding: 15px;
            background-color: aquamarine;
        }
{% endblock %}

{% block title %}
Create
{% endblock %}

{% block content %}
<p style="margin-left:550px;"><a href="/firstexo/">Check data</a></p>
    <div class="container">
        <table>
            <tbody>
                <form action="create" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td> Question ?</td>
                        <td><input type="text" name="text" required></td>
                        <td><button>Ajouter</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
{% endblock %}