<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions</title>
        <style>
        table {
            margin-left: 550px;
            margin-top: 150px;
            column-width: 20px;
            font-size: 20px;
            border: 5px solid black;
            padding: 5px;
        }

        thead {
            padding: 10px;
        }

        tbody {
            padding: 10px;
        }
    </style>
</head>

<body>
    <p style="margin-left:550px;"><a href="create">Create</a></p>
    <div class="container">
        <table border="5px solid #000;">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for q in questions %}
                <tr>
                    <td style="padding:10px;">{{q.text}}</td>
                    <td style="padding:10px;"><a href="edit/{{q.id}}">Edit</a></td>
                    <td style="padding:10px;"><a href="delete/{{q.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>