<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{product.title}}</title>
</head>
<body>
<a href="/">< Home</a>
    <div>
        <h2>{{product.title}}</h2>
        <img src={{product.image}}>
        <p>{{product.description}}</p>
        <span>{{product.price}}</span>
        <p>{{product.quantity}} left in stock</p>
    </div>
    <form action="/cart/{{product.id}}" method="post">
        {% csrf_token %}
        <label for="quantity">Select quantity to add to cart</label>
        <input type="number" name="quantity" id="quantity" placeholder="Quantity" max="{{product.quantity}}" min="0" value="0">
        <button type="submit" id="submit">Add to cart</button>
    </form>
<script>
    document.getElementById('submit').addEventListener('click', (e) => {
        if(document.getElementById('quantity').value === "0") {
            alert('Please select an amount of products to add to your cart.')
            e.preventDefault()
        }
    })
</script>
</body>
</html>